
<iframe width="560" height="315" src="https://www.youtube.com/embed/Nup9fF-F7P0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<div class="photo-cta">
  <div>
    <img src="/img/cta-images/join_our_team.png" class="photo-cta-container"/>
  </div>
  <div><h5 style="margin: 1rem; padding-left:10px;">What’s Your Calgary Home Worth?</h5></div>
  <div style="padding:10px;">Are you thinking of selling your home or interested in learning about home prices in your neighborhood? We can help you.</div>
  <div class="cta-button"><a href="/join-our-team">Apply Now   <i class="fa fa-angle-double-right"></i></a></div>
</div>


<div class="photo-cta">
  <img src="/img/cta-images/newsletter.png"  class="photo-cta-container"/>
  <div class="cta-button"><a href="/subscribe">Sign Up Now   <i class="fa fa-angle-double-right"></i></a></div>
</div>


<div class="photo-cta">
  <img src="/img/cta-images/strategy_call.png"  class="photo-cta-container"/>
  <div class="cta-button"><a href="/strategy-call">Book a Call   <i class="fa fa-angle-double-right"></i></a></div>
</div>


<div class="photo-cta">
  <img src="/img/cta-images/workshop.png"  class="photo-cta-container"/>
  <div class="cta-button"><a href="https://ericmortimer.eventbrite.ca/">Reserve Your Seat   <i class="fa fa-angle-double-right"></i></a></div>
</div>


