
<iframe width="560" height="315" src="https://www.youtube.com/embed/Nup9fF-F7P0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<div class="photo-cta">
  <div>
    <img src="/uploads/004.jpg" class="photo-cta-container"/>
  </div>
  <div><h5 style="margin: 1rem; padding-left:10px;">What’s Your Calgary Home Worth?</h5></div>
  <div style="padding:10px;">Are you thinking of selling your home or interested in learning about home prices in your neighborhood? We can help you.</div>
  <div class=""><a class="cta-button" href="/join-our-team">Free Calgary Home Value Report   <i class="fa fa-angle-double-right"></i></a></div>
</div>


<div class="photo-cta">
  <div> 
    <img src="/uploads/005.jpg"  class="photo-cta-container"/>
  </div>
  <div><h5 style="margin: 1rem; padding-left:10px;">Looking for a Calgary Home?</h5></div>
  <div style="padding:10px;">Search the entire MLS for your Calgary home.</div>
  <div class="cta-button"><a href="/subscribe">Search the MLS   <i class="fa fa-angle-double-right"></i></a></div>
</div>


<div class="photo-cta">
  <div> 
    <img src="/uploads/006.jpg"  class="photo-cta-container"/>
  </div>
  <div><h5 style="margin: 1rem; padding-left:10px;">An Easier Way to Sell Your Calgary Home</h5></div>
  <div style="padding:10px;">Get a guaranteed offer within as little as 7 days on your home.</div>
  <div class="cta-button"><a href="/strategy-call">Learn More  <i class="fa fa-angle-double-right"></i></a></div>
</div>


<!--<div class="photo-cta">-->
<!--   <div> -->
<!--  <img src="/img/cta-images/workshop.png"  class="photo-cta-container"/></div>-->
<!--  <div><h5 style="margin: 1rem; padding-left:10px;">What’s Your Calgary Home Worth?</h5></div>-->
<!--  <div style="padding:10px;">Are you thinking of selling your home or interested in learning about home prices in your neighborhood? We can help you.</div>-->
<!--  <div class="cta-button"><a href="https://ericmortimer.eventbrite.ca/">Reserve Your Seat   <i class="fa fa-angle-double-right"></i></a></div>-->
<!--</div>-->


